
<!-- ==============================================
**Inner Banner**
=================================================== -->
<section class="inner-banner">
  <div class="container">
    <div class="contents">
      <h1>Support</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        <span>Lorem Ipsum has been the industry's standard dummy text ever since</span>
      </p>
    </div>
  </div>
</section>
<!-- ==============================================
**Contact Info**
=================================================== -->
<section class="contact-outer padding-lg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <ul class="row contact-list">
          <li class="col-md-4">
            <div class="inner equal-hight">
              <div class="icon">
                <span class="icon-contact"></span>
              </div>
              <h3>Contact Info</h3>
              <p>Lorem Ipsum is simply dummy text of the printing</p>
              <div class="call">
                <span class="icon-phone"></span> (000) 000-0000</div>
              <a href="mailto:info@protech.com" class="mail-to">
                <span class="icon-mail"></span> info@protech.com </a>
            </div>
          </li>
          <li class="col-md-4">
            <div class="inner equal-hight">
              <div class="icon">
                <span class="icon-live-chat"></span>
              </div>
              <h3>Live Chat</h3>
              <p>Lorem Ipsum is simply dummy text of the printing</p>
              <a href="#" class="live-chat">
                <span class="icon-chat-bubble"></span> Live Chat</a>
            </div>
          </li>
          <li class="col-md-4">
            <div class="inner equal-hight">
              <div class="icon">
                <span class="icon-support-ticket"></span>
              </div>
              <h3>Support Tickets</h3>
              <p>Lorem Ipsum is simply dummy text of the printing</p>
              <a href="#" class="live-chat support">Support</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Start Support Request -->
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="support-request">
          <h2>Support Request</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since</p>
          <form action="#" method="get" class="support-form">
            <div class="row">
              <div class="col-md-6">
                <input name="Name" type="text" placeholder="Name">
                <input name="Email" type="text" placeholder="Email">
              </div>
              <div class="col-md-6">
                <textarea name="Mesage" placeholder="Mesage"></textarea>
              </div>
              <div class="col-md-12">
                <button class="submit-btn">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==============================================
**Advices and Answers**
=================================================== -->
<section class="advices-outer padding-lg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <h2>Advice and answers from Our Team</h2>
        <form action="#" method="get" class="search-outer d-flex">
          <input name="Search" type="text" placeholder="Search">
          <button class="go-btn">
            <span class="icon-search"></span>
          </button>
        </form>
      </div>
    </div>
    <ul class="row features-listing">
      <li class="col-md-4">
        <div class="inner">
          <span class="icon">
            <img src="images/info-ico.png" alt="">
          </span>
          <h3>Information about
            <span>Protech portal</span>
          </h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since been</p>
        </div>
      </li>
      <li class="col-md-4">
        <div class="inner">
          <span class="icon">
            <img src="images/payment-ico.png" alt="">
          </span>
          <h3>Protech portal
            <span>Payment</span>
          </h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since been</p>
        </div>
      </li>
      <li class="col-md-4">
        <div class="inner">
          <span class="icon">
            <img src="images/paying-ico.png" alt="">
          </span>
          <h3>Paying with
            <span>Protech portal</span>
          </h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since been</p>
        </div>
      </li>
      <li class="col-md-4">
        <div class="inner">
          <span class="icon">
            <img src="images/wallet-ico.png" alt="">
          </span>
          <h3>Secure Your
            <span>Payment Method</span>
          </h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since been</p>
        </div>
      </li>
      <li class="col-md-4">
        <div class="inner">
          <span class="icon">
            <img src="images/building-ico.png" alt="">
          </span>
          <h3>Businesses &
            <span>Organizations</span>
          </h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since been</p>
        </div>
      </li>
      <li class="col-md-4">
        <div class="inner">
          <span class="icon">
            <img src="images/doc-ico.png" alt="">
          </span>
          <h3>Protech portal
            <span>Documentation</span>
          </h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since been</p>
        </div>
      </li>
    </ul>
  </div>
</section>
