<section class="inner-banner">
  <div class="container">
    <div class="contents">
      <h1>ABOUT SCIENCESOFT</h1>
      <p>Experience the true Technology at DevTechnosys.
      <span><strong>WE ARE</strong> HIGH - END IT SOLUTIONS FROM AND BY THE WORLD’S GREATEST TECHNICAL MINDSET</span></p>
    </div>
  </div>
</section>
<!-- ==============================================
**Privacy Policy**
=================================================== -->
<section class="privacy-policy padding-lg">
  <div class="container">
    <h4>OVERVIEW</h4>
    <p>Founded in 1989, ScienceSoft is a US-headquartered provider of IT consulting services and custom software development with 450+ IT professionals located internationally.</p>

    <ul class="circle-bordered-list">
      <li>
        <p>
          <strong>Lorem Ipsum is simply:</strong> For over 28 years we’ve been bringing custom and platform-based solutions to large and midsized companies in Healthcare, Banking, Retail, Telecom and other industries. Walmart, Nestle, eBay, NASA JPL, T-Mobile, Baxter, M&T bank along with other influencers rely on our solutions in their daily operations.</p>
      </li>
      <li>
        <p>
          <strong>Printing and typesetting: </strong>With the background rooted in science, we build on our legacy knowledge and grow it in the areas of CRM, Data Analysis, Collaboration & Knowledge Management and Information Security. As part of this journey, we partnered with Microsoft, IBM, Oracle, Magento, ServiceNow, Episerver and more tech leaders to ensure that our clients will benefit from steady reliability and originality across solutions. Currently, we are recognized with 3 Gold Microsoft Competencies in Application Development, Collaboration and Content along with Data Analytics.</p>
      </li>
    </ul>
    <hr>
    <h4>Information Gathering and Usage</h4>
    <ul class="circle-bordered-list">
      <li>
        <p>ScienceSoft has been delivering software solutions for enterprise and middle-market customers across multiple target industries.</p>
      </li>
      <li>
        <p>We have also built up experience in Education, Entertainment, Oil and Gas along with Transportation and Logistics.</p>
      </li>
    </ul>
    <ul class="quate-box">
      <li>ScienceSoft’s offering embraces the synergy of information technology consulting services along with custom software development and platform-based customization</li>
    </ul>
  </div>
</section>