<section class="inner-banner">
  <div class="container">
    <div class="contents">
      <h1>DEVELOPMENT PROCESS</h1>
      <p>Experience the true Technology at DevTechnosys.
      <span><strong>WE ARE</strong> HIGH - END IT SOLUTIONS FROM AND BY THE WORLD’S GREATEST TECHNICAL MINDSET</span></p>
    </div>
  </div>
</section>
<section class="privacy-policy padding-lg">
  <div class="container">
    <h4>DEVELOPMENT PROCESS</h4>
    <p>At ScienceSoft, we believe in a personal approach to every customer and project. Bringing in transparency, automation and dynamic environment, we choose development practices tailored to your specific business needs. Be it classical methodologies, such as RUP, MSF, CMMI, or modern approaches like Agile, we guarantee a timely delivery of the project within your budget.</p>
  </div>
</section>
<section class="select-pricing-plan padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2>SOFTWARE DEVELOPMENT METHODOLOGY</h2>
        <p>ScienceSoft applies SDLC (Software Development Life Cycle), so once you have started a project with us, the next steps are quite simple. </p>
        <p>Cummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
          since been</p>
      </div>
      <div class="col-lg-7">
        <figure>
          <img src="/images/development_process.png" class="img-fluid" alt=""> </figure>
      </div>
    </div>
  </div>
</section>
<section class="privacy-policy padding-lg">
  <div class="container">
    <h4>Defining the project scope</h4>
    <p>Upon the submission of the Request for Quote, ScienceSoft assigns a team to gather and analyze the requirements and create vision/scope documents. The team prepares functional specifications, design, detailed plans for sprints/iterations and delivery, as well as cost estimates. </p>

    <ul class="circle-bordered-list">
      <li>
        <p>
          <strong>Development:</strong> The development process starts off with creating Technical Design Documents (TDD), Project Plans and Test Plans. ScienceSoft builds a software prototype to simulate the future application and receive feedback from the customer. When all the features are implemented and integrated according to the requirements, the team performs development testing and comes up with a user guide.</p>
      </li>
      <li>
        <p>
          <strong>Stabilization: </strong>In this stage, the solution undergoes a full cycle of testing with bug fixing to ensure that software is running like clockwork. </p>
      </li>
    </ul>
    <hr>
    <h4>Project delivery</h4>
    <p>Upon the delivery of the project, you receive: </p>

    <ul class="circle-bordered-list">
      <li>
        <p>
          <strong>Software product</strong></p>
      </li>
      <li>
        <p>
          <strong>Technical requirements</strong></p>
      </li>
      <li>
        <p>
          <strong>Design</strong></p>
      </li>
      <li>
        <p>
          <strong>User Manual</strong></p>
      </li>
      <li>
        <p>
          <strong>Setup Program</strong></p>
      </li>
      <li>
        <p>
          <strong>Installation and maintenance instruction</strong></p>
      </li>
      <li>
        <p>
          <strong>Source code</strong></p>
      </li>
      <li>
        <p>
          <strong>Warranty</strong></p>
      </li>
    </ul>
    <p>You retain full intellectual property rights and the software source code.</p>
    <p>In addition to that, we offer maintenance and support services to help you continuously improve the application.</p>
  </div>
</section>